<section class="chart p-3">
  <div>
    <div class="d-flex align-items-start justify-content-between heading">
      <div class="text-gray f-14">
        <p class="m-0 main-text lh-lg">{{ "chart.headText" | translate }}</p>
        <p class="period m-0">
          {{ "chart.headSub" | translate }}
          <i class="fa-solid fa-angle-down pt-3"></i>
        </p>
      </div>
      <select
        id="options"
        class="p-1 border rounded-2 text-center text-capitalize"
      >
        <option value="year">{{ "chart.yearOption" | translate }}</option>
        <option value="month">{{ "chart.monthOption" | translate }}</option>
      </select>
    </div>

    <div
      *ngIf="!_ChangeLangService.isRtl.value"
      echarts
      [options]="option"
      class="chart-canvas"
    ></div>
    <div
      *ngIf="_ChangeLangService.isRtl.value"
      echarts
      [options]="option_ar"
      class="chart-canvas ar"
    ></div>
  </div>
</section>
